<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Acceptance</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Action</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Addictive Personality</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Adversity</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Amends Beyond “I’m Sorry”</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Anger</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Anniversaries</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Anonymity</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Asking for Help</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Attitude</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Attraction not Promotion</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Balance</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Being Considerate of Others (in and out of AA)</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Being Useful</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Big Book (Using the Big Book)</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Boredom with the Program</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Bring the Body and the Mind Will Follow</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>But For the Grace of God</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Carrying the Message</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Changing Routines, Changing People, Places and Things (to avoid drinking)</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Character Defects</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Clarity of Thought</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Codependency</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Compassion</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Complacency</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Completely Giving Yourself to This Simple Program</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Contempt Prior to Investigation</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Courage</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Courage to Change the Things I Can</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Cravings</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Cunning, Baffling, Powerful</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Dealing with Difficult People</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Denial</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Dependence</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Disappointment</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Discipline</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Do the Next Right Thing</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Don’t Drink, and Go To Meetings</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Don’t Quit Before the Miracle</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Drinking Occasions</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Dry Drunks</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Easy Does It</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Economic Insecurity</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Ego</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Emotional Hangover</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Emotional Sobriety</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Enjoying Life Sober</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Expect a Miracle</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Expectations</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Experience, Strength and Hope</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Faith</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Fake It Till You Make It</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>The Family Afterwards</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Fear</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Fear of Failure/Fear of Success</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Feelings and Emotions</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Feeling Different</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Fellowship</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Forgiveness</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Forgiving Others</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Forgiving Yourself</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Fourth Dimension (from pages 8, 25 in The Big Book)</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Freedom</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Freedom from Bondage</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Friendship</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Fun in Sobriety</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Future Tripping</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Geographical Cures</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Gifts of the Program</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>God as I Understand Him</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Gratitude</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Growth</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Growth through Pain</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Guilt</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Handling Failure</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Handling Success</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Happiness</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Happy, Joyous and Free</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Higher Power</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Holidays</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Hope</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>How easy does it get? (working the program, staying sober)</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>How Have You Changed?</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>How Important is Sobriety to You?</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>How it Works for You</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Humility</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Hungry, Angry, Lonely, Tired (HALT)</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>I Am Responsible. When anyone, anywhere, reaches out for help, I want the hand of AA always to be there. And for that I am responsible.</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Identify, Don’t Compare</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Improving the Quality of Your Sobriety</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Insanity</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Insidious Disease</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Integrity</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Inventory (Taking Your Own)</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Inventory (Taking That of Others)</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Isolating</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Jealousy</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Joy, The Joy of Living</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Keep Coming Back</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Keep it Simple</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Keeping it Green</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Let Go and Let God</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Letting Go (of Outcomes)</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Letting Go (of the Past)</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Letting Go (of People, Places and Things)</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Life on Life’s Terms</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Literature as a Tool (Using the Big Book, Twelve and Twelve, meditations, etc)</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Live and Let Live</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Living in the Moment, Living in the Present, Living in the Now</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Living with Yourself in Sobriety</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Loss</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Love</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Making Difficult Amends</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Meditation</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Meeting Makers Make It</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Meetings</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Mental, Spiritual and Physical Health</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Moderation</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Money</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>More will be Revealed</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>No Pain, No Gain</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Not taking the first drink</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>One Day at a Time</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Pain</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Patience</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Perceptions vs. Reality</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Perseverance</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Physical Illness (Problems Other Than Alcohol)</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Powerlessness</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Practicing These Principles in All Our Affairs</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Prayer</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Pride</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Pride in Reverse</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Primary Purpose</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Principles Before Personalities</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Priorities</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Progress, Not Perfection</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Promises</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Recovery</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Regret (We Will Not Regret the Past, Promises)</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Relapse</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Relationships</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Relaxing, Relaxation</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Remember What You Would Have Settled For</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Remembering Your Last Drunk</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Remorse</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Resentment</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Responsibility</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Restless, Irritable and Discontent</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Restraint of Tongue and Pen</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Rigorous Honesty</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Sanity</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Secrets</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Self Acceptance</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Self-Centeredness</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Self Esteem</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Self Pity</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Self Seeking</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Self-Will</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Selfishness</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Serenity</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Serenity Prayer</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Service</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Sharing at Meetings</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Sick and Tired of Being Sick and Tired</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Slogans</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Sobriety Dates</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Spiritual Awakening</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Spiritual Part of the Program</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Spirituality</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Sponsorship</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Staying Away from the First Drink</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Staying in the Now</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Step One</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Step Two</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Step Three</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Step Four</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Step Five</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Step Six</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Step Seven</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Step Eight</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Step Nine</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Step Ten</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Step Eleven</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Step Twelve</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Sticking with the Winners</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Strength (Sharing Our Strength)</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Stress (Coping with Stress)</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Suggestions</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Surrender</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Taking Risks</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Terminal Uniqueness</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>This Too Shall Pass</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>To Thine Own Self Be True</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Tolerance</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Tools of the Program</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Tradition One</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Tradition Two</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Tradition Three</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Tradition Four</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Tradition Five</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Tradition Six</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Tradition Seven</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Tradition Eight</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Tradition Nine</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Tradition Ten</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Tradition Eleven</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Tradition Twelve</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Triggers</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Trust</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Turning it Over</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Twenty-four Hours a Day (one hour, one minute at a time)</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Unfinished Amends</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Unmanageability</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Using the Telephone</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Waiting to Worry</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>We of the Program</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>What Convinced You That You Had a Problem?</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>What Don&apos;t You Want to Talk About?</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>What is AA to You?</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>What do You do to Stay Sober?</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>What have you gained from the program?</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>What outside forces keep you from drinking?</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Who supported you to get sober? To stay sober?</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Why Are You Here?</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Will Power</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Willing to go to Any Lengths</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Willingness</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Wisdom to Know the Difference</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Wreckage of the Past</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<false/>
		<key>title</key>
		<string>Yet</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Anonymous</string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<true/>
		<key>title</key>
		<string>Get off the cross, we need the wood.</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Letting go of a better past.</string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<true/>
		<key>title</key>
		<string>Acceptance</string>
	</dict>
	<dict>
		<key>description</key>
		<string>The power of God keeps me sober.</string>
		<key>isFavorite</key>
		<false/>
		<key>isGem</key>
		<true/>
		<key>title</key>
		<string>God doesn&apos;t keep me sober.</string>
	</dict>
</array>
</plist>
