<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string></string>
		<key>id</key>
		<integer>1</integer>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Acceptance</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>id</key>
		<integer>2</integer>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Act As If</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>id</key>
		<integer>3</integer>
		<key>isFavorite</key>
		<true/>
		<key>title</key>
		<string>Action</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>id</key>
		<integer>4</integer>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Addictive Personality</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>id</key>
		<integer>5</integer>
		<key>isFavorite</key>
		<true/>
		<key>title</key>
		<string>Adversity</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>id</key>
		<integer>6</integer>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Agnostics (We Agnostics)</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>id</key>
		<integer>7</integer>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Amends Beyond “I’m Sorry”</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>id</key>
		<integer>8</integer>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Amends, Making Hard Amends</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>id</key>
		<integer>9</integer>
		<key>isFavorite</key>
		<true/>
		<key>title</key>
		<string>Anger</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>id</key>
		<integer>10</integer>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Anniversaries</string>
	</dict>
</array>
</plist>
