<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string></string>
		<key>id</key>
		<integer>1</integer>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Acceptance</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>id</key>
		<integer>2</integer>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Act As If</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>id</key>
		<integer>3</integer>
		<key>isFavorite</key>
		<true/>
		<key>title</key>
		<string>Action</string>
	</dict>
</array>
</plist>
