<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Acceptance</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Action</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Addictive Personality</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Adversity</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Amends Beyond “I’m Sorry”</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Anger</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Anniversaries</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Anonymity</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Asking for Help</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Attitude</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Attraction not Promotion</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Balance</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Being Considerate of Others (in and out of AA)</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Being Useful</string>
	</dict>
	<dict>
		<key>description</key>
		<string>(Using the Big Book)</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Big Book</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Boredom with the Program</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Bring the Body and the Mind Will Follow</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>But For the Grace of God</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Carrying the Message</string>
	</dict>
	<dict>
		<key>description</key>
		<string>(to avoid drinking)</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Changing Routines, Changing People, Places and Things</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Character Defects</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Clarity of Thought</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Codependency</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Compassion</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Complacency</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Completely Giving Yourself to This Simple Program</string>
	</dict>
	<dict>
		<key>description</key>
		<string>There is a principle which is a bar against all information, which is proof against all arguments and which can not fail to keep a man in everlasting ignorance. That principle is contempt prior to investigation.</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Contempt Prior to Investigation</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Courage</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Courage to Change the Things I Can</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Cravings</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Cunning, Baffling, Powerful</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Dealing with Difficult People</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Denial</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Dependence</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Disappointment</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Discipline</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Do the Next Right Thing</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Don’t Drink, and Go To Meetings</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Don’t Quit Before the Miracle</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Drinking Occasions</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Dry Drunks</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Easy Does It</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Economic Insecurity</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Ego</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Emotional Hangover</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Emotional Sobriety</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Enjoying Life Sober</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Expect a Miracle</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Expectations</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Experience, Strength and Hope</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Faith</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Fake It Till You Make It</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>The Family Afterwards</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Fear</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Fear of Failure/Fear of Success</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Feelings and Emotions</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Feeling Different</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Fellowship</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Forgiveness</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Forgiving Others</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Forgiving Yourself</string>
	</dict>
	<dict>
		<key>description</key>
		<string>(from pages 8, 25 in The Big Book)</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Fourth Dimension</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Freedom</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Freedom from Bondage</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Friendship</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Fun in Sobriety</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Future Tripping</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Geographical Cures</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Gifts of the Program</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>God as I Understand Him</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Gratitude</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Growth</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Growth through Pain</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Guilt</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Handling Failure</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Handling Success</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Happiness</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Happy, Joyous and Free</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Higher Power</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Holidays</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Hope</string>
	</dict>
	<dict>
		<key>description</key>
		<string>(working the program, staying sober)</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>How easy does it get?</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>How Have You Changed?</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>How Important is Sobriety to You?</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>How it Works for You</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Humility</string>
	</dict>
	<dict>
		<key>description</key>
		<string>(HALT)</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Hungry, Angry, Lonely, Tired</string>
	</dict>
	<dict>
		<key>description</key>
		<string>When anyone, anywhere, reaches out for help, I want the hand of AA always to be there. And for that I am responsible.</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>I Am Responsible.</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Identify, Don’t Compare</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Improving the Quality of Your Sobriety</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Insanity</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Insidious Disease</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Integrity</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Taking Your Own</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Inventory</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Taking That of Others</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Inventory</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Isolating</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Jealousy</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Joy, The Joy of Living</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Keep Coming Back</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Keep it Simple</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Keeping it Green</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Let Go and Let God</string>
	</dict>
	<dict>
		<key>description</key>
		<string>of Outcomes</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Letting Go</string>
	</dict>
	<dict>
		<key>description</key>
		<string>of the Past</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Letting Go</string>
	</dict>
	<dict>
		<key>description</key>
		<string>of People, Places and Things</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Letting Go</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Life on Life’s Terms</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Using the Big Book, Twelve and Twelve, meditations, etc...</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Literature as a Tool</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Live and Let Live</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Living in the Moment, Living in the Present, Living in the Now</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Living with Yourself in Sobriety</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Loss</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Love</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Making Difficult Amends</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Meditation</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Meeting Makers Make It</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Meetings</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Mental, Spiritual and Physical Health</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Moderation</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Money</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>More will be Revealed</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>No Pain, No Gain</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Not taking the first drink</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>One Day at a Time</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Pain</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Patience</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Perceptions vs. Reality</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Perseverance</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Problems Other Than Alcohol</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Physical Illness</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Powerlessness</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Practicing These Principles in All Our Affairs</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Prayer</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Pride</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Pride in Reverse</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Primary Purpose</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Principles Before Personalities</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Priorities</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Progress, Not Perfection</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Promises</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Recovery</string>
	</dict>
	<dict>
		<key>description</key>
		<string>(We Will Not Regret the Past, Promises)</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Regrets</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Relapse</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Relationships</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Relaxing, Relaxation</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Remember What You Would Have Settled For</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Remembering Your Last Drunk</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Remorse</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Resentment</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Responsibility</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Restless, Irritable and Discontent</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Restraint of Tongue and Pen</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Rigorous Honesty</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Sanity</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Secrets</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Self Acceptance</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Self-Centeredness</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Self Esteem</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Self Pity</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Self Seeking</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Self-Will</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Selfishness</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Serenity</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Serenity Prayer</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Service</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Sharing at Meetings</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Sick and Tired of Being Sick and Tired</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Slogans</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Sobriety Dates</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Spiritual Awakening</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Spiritual Part of the Program</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Spirituality</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Sponsorship</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Staying Away from the First Drink</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Staying in the Now</string>
	</dict>
	<dict>
		<key>description</key>
		<string>We admitted we were powerless over alcohol—that our lives had become unmanageable.</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Step One</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Came to believe that a Power greater than ourselves could restore us to sanity.</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Step Two</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Made a decision to turn our will and our lives over to the care of God as we understood Him.</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Step Three</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Made a searching and fearless moral inventory of ourselves.</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Step Four</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Admitted to God, to ourselves, and to another human being the exact nature of our wrongs.</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Step Five</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Were entirely ready to have God remove all these defects of character.</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Step Six</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Humbly asked Him to remove our shortcomings.</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Step Seven</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Made a list of all persons we had harmed, and became willing to make amends to them all.</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Step Eight</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Made direct amends to such people wherever possible, except when to do so would injure them or others.</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Step Nine</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Continued to take personal inventory and when we were wrong promptly admitted it.</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Step Ten</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Sought through prayer and meditation to improve our conscious contact with God, as we understood Him, praying only for knowledge of His will for us and the power to carry that out.</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Step Eleven</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Having had a spiritual awakening as the result of these Steps, we tried to carry this message to alcoholics, and to practice these principles in all our affairs.</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Step Twelve</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Sticking with the Winners</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Sharing Our Strength</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Strength</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Coping with Stress</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Stress</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Suggestions</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Surrender</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Taking Risks</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Terminal Uniqueness</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>This Too Shall Pass</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>To Thine Own Self Be True</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Tolerance</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Tools of the Program</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Our common welfare should come first; personal recovery depends upon A.A. unity.</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Tradition One</string>
	</dict>
	<dict>
		<key>description</key>
		<string>For our group purpose there is but one ultimate authority - a loving God as He may express Himself in our group conscience. Our leaders are but trusted servants; they do not govern.</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Tradition Two</string>
	</dict>
	<dict>
		<key>description</key>
		<string>The only requirement for A.A. membership is a desire to stop drinking.</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Tradition Three</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Each group should be autonomous except in matters affecting other groups or A.A. as a whole.</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Tradition Four</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Each group has but one primary purpose - to carry its message to the alcoholic who still suffers.</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Tradition Five</string>
	</dict>
	<dict>
		<key>description</key>
		<string>An A.A. group ought never endorse, finance, or lend the A.A. name to any related facility or outside enterprise, lest problems of money, property, and prestige divert us from our primary purpose.</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Tradition Six</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Every A.A. group ought to be fully self-supporting, declining outside contributions.</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Tradition Seven</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Alcoholics Anonymous should remain forever non-professional, but our service centers may employ special workers.</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Tradition Eight</string>
	</dict>
	<dict>
		<key>description</key>
		<string>A.A., as such, ought never be organized; but we may create service boards or committees directly responsible to those they serve.</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Tradition Nine</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Alcoholics Anonymous has no opinion on outside issues; hence the A.A. name ought never be drawn into public controversy.</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Tradition Ten</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Our public relations policy is based on attraction rather than promotion; we need always maintain personal anonymity at the level of press, radio and films.</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Tradition Eleven</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Anonymity is the spiritual foundation of all our traditions, ever reminding us to place principles before personalities.</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Tradition Twelve</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Triggers</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Trust</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Turning it Over</string>
	</dict>
	<dict>
		<key>description</key>
		<string>(one hour, one minute at a time)</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Twenty-four Hours a Day</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Unfinished Amends</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Unmanageability</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Using the Telephone</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Waiting to Worry</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>We of the Program</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>What Convinced You That You Had a Problem?</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>What Don&apos;t You Want to Talk About?</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>What is AA to You?</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>What do You do to Stay Sober?</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>What have you gained from the program?</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>What outside forces keep you from drinking?</string>
	</dict>
	<dict>
		<key>description</key>
		<string>To stay sober?</string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Who supported you to get sober?</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Why Are You Here?</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Will Power</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Willing to go to Any Lengths</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Willingness</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Wisdom to Know the Difference</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Wreckage of the Past</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>isFavorite</key>
		<false/>
		<key>title</key>
		<string>Yet</string>
	</dict>
</array>
</plist>
